html {
    scroll-behavior: smooth;
}

body, .initial-page {
    font-family: $main-font;
    height: 100vh;
    background: rgb(34,102,119);
    background: linear-gradient(0deg, rgba(34,102,119,1) 0%, rgba(16,16,48,1) 100%);
    display: flex;

    .logo {
        width: 50%;
        height: 100%;
        @include center-items;

        img {
            width: 80%;
        }
    }

    .welcome {
        width: 40%;
        height: 80%;
        margin: auto;
        background-color: $box-background;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    h1 {
        text-align: center;
        font-size: 2em;
        font-weight: 700;
        padding: 0 4em;
    }

    .register, .go-back, .cta {
        @include buttons;
        text-decoration: none;

        p {
            width: 100%;
            height: 100%;
            text-align: center;
            color: white;
            @include center-items;
        }

        &:hover, &:active {
            opacity: 0.8;
        }
    }

    .register, .go-back, .cta {
        background: rgb(4,75,7);
        background: linear-gradient(90deg, rgba(4,75,7,1) 0%, rgba(45,52,119,1) 100%);
        border: 0;
        border-radius: 12px;
        color: white;
        text-transform: capitalize;
    }
}